@import '../scssConfig/index';

.info-wrapper {
  width: 100%;
  padding: 100px 0 0;
  height: 100vh;
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title {
  color: $colorWhite;
  text-decoration: underline;
  text-decoration-color: $colorWhite;
  text-align: center;
  max-width: 563px;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 0 20px;
}

.card-image {
  position: absolute;
  bottom: 310px;
}


@media screen and (max-width: 550px) {
  .info-wrapper {
    padding-top: 210px;
  }

  .title {
    max-width: 330px;
    font-size: 42px;
  }

  .card-image {
    position: absolute;
    bottom: 405px;
  }
}

@media screen and (max-width: 350px) {
  .card-image {
    position: absolute;
    bottom: 345px;
  }
}