@import '../scssConfig/index';
@import '../scssConfig/header';

.info-wrapper {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: $colorBlack;
  width: 154px;
  text-align: center;
}

.router {
  margin-top: 20px;
}

.rate-text {
  margin-top: 50px;

  @include styleForText(16px, $fontArialRegular, rgba(14, 14, 14, 0.7))
}
