@import "./scssConfig/index";

.wrapper {
  width: 100%;
  background-color: $mainColor;
  position: relative;
}

.group-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.container {
  @include container(1200px);

  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 40px 0 64px;
  position: relative;
}

.title {
  max-width: 360px;
  position: relative;
  color: $colorWhite;
  text-decoration: underline;
  line-height: 84px;
  text-decoration-color: $colorWhite;
  margin-top: 70px;
}

.card-image {
  position: absolute;
  top: 15px;
  left: 150px;
}

.text {
  @include styleForText(18px, $fontArialRegular, $colorWhite);

  max-width: 300px;
  margin-top: 25px;
}

.text-block {
  padding: 50px 60px 38px;
  max-width: 367px;
  width: 100%;
  background-color: $colorGrey;
  position: relative;
  right: 0;
  height: 235px;
  top: 194px;
}

.text-block-title {
  color: $colorBlack;
  max-width: 304px;
}

.text-block-time {
  @include styleForText(18px, $fontArialRegular, $colorDarkGrey);

  margin-top: 20px;
}

.link-index {
  @include styleForMainButton(100%, 13px, 13px);

  margin-top: 70px;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    height: 560px;
  }

  .container {
    padding: 40px 65px 65px;
    flex-direction: column;
    align-items: flex-start;
  }

  .text-block {
    max-width: 100%;
    background-color: transparent;
    padding: 0;
    height: inherit;
    margin-bottom: 40px;
  }

  .text-block-title {
    max-width: 100%;
    font-size: 16px;
    text-align: center;
  }

  .text-block-time {
    display: none;
  }

  .text-block-button {
    margin-top: 35px;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    height: 475px;
  }

  .container {
    padding: 40px 23px 65px;
  }

  .title {
    max-width: 280px;
    line-height: 60px;
    font-size: 52px;
  }

  .card-image {
    top: 8px;
    left: 117px;
  }

  .text-block {
    top: 270px;
  }
}
