@mixin styleForText ($fontSize, $fontFamily, $color) {
  font-size: $fontSize;
  font-family: $fontFamily;
  color: $color;
}

@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin container ($width) {
  max-width: $width;
  margin: 0 auto;
  padding: 0;
}

@mixin styleWithPrefix ($property, $value) {
  #{'-webkit-' + $property}: $value;
  #{'-moz-' + $property}: $value;
  #{'-ms-' + $property}: $value;
}

@mixin styleForMainButton ($width, $padding-top, $padding-bottom) {
  width: $width;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  border: 1px solid #9a7a31;
  border-radius: 3px;
  background: transparent linear-gradient(180deg, #f7e1a8 0, #edc24f 100%) 0 0 no-repeat padding-box;

  &:disabled {
    border-color: #d1d1d1;
    color: #bebebe;
    background: transparent linear-gradient(180deg, #f4f4f4 0, #e2e2e2 100%) 0 0 no-repeat padding-box;
    cursor: not-allowed;
  }

  @include styleForText(16px, $fontRegular, $colorBlack);
}
