@mixin styleForText ($fontSize, $fontFamily, $color) {
  font-size: $fontSize;
  font-family: $fontFamily;
  color: $color;
}

@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin container ($width) {
  width: $width;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}

@mixin styleWithPrefix ($property, $value) {
  #{'-webkit-' + $property}: $value;
  #{'-moz-' + $property}: $value;
  #{'-ms-' + $property}: $value;
}
