$fontRegular: 'AmazonEmberRegular', sans-serif;
$fontArialRegular: 'ArialRegular', sans-serif;

$colorWhite: #fff;
$mainColor: #e6cb83;
$colorGrey: #f2f2f2;
$colorDarkGrey: #dadada;
$colorBlack: #0e0e0e;
